.left {
    float: left;
}
.right {
    float: right;
}
header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}
h1 {
    padding: 20px;
    margin: 0;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
}
.left img {
    float: left;
}
.left p {
    float: right;
}